<div class="container">
  <h1>Add a new user</h1>
  <form method="post" action="/users">
    <input type="text" name="user[name]" placeholder="Enter name">
    <input type="number" name="user[age]" placeholder="Enter Age">
    <input type="date" name="user[dob]" placeholder="DOB">
    <input type="text" name="user[sign]" placeholder="Starsign">
    <button class="btn">Sign Up</button>
  </form>
</div>

<!-- <div class="input-field col s12">
  <select>
    <option value="Aries">Aries</option>
    <option value="Taurus">Taurus</option>
    <option value="Gemini">Gemini</option>
    <option value="Cancer">Cancer</option>
    <option value="Leo">Leo</option>
    <option value="Virgo">Virgo</option>
    <option value="Libra">Libra</option>
    <option value="Scorpio">Scorpio</option>
    <option value="Sagittarius">Sagittarius</option>
    <option value="Capricorn">Capricorn</option>
    <option value="Aquarius">Aquarius</option>
    <option value="Pisces">Pisces</option>
  </select>
</div> -->
